@import url('https://fonts.googleapis.com/css2?family=Caveat&family=Poppins:wght@300&display=swap');

::selection {
  background: var(--color-primary);
  color: rgb(0, 0, 0);
}

:root {
  --color-primary: rgb(241, 238, 238);
  --color-secondary: #2d2847;
  --color-accent: #0089e4;
  --color-headings: #1a1a1a;
  --color-body: #000000;
  --color-body-darker: #2d2841;
  --color-border: rgb(153, 143, 161);
  --border-radius: 30px;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif, Arial, Helvetica, monospace;
  font-size: 2.4rem;
  line-height: 1.5;
  background-image: linear-gradient(45deg, rgba(254, 246, 210, 0.53) 0%, rgba(254, 246, 210, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 14.286%, rgba(221, 240, 216, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 28.572%, rgba(188, 233, 223, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 42.858%, rgba(156, 227, 229, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 57.144%, rgba(123, 220, 235, 0.53) 71.42999999999999%, rgba(90, 214, 242, 0.53) 71.43%, rgba(90, 214, 242, 0.53) 85.71600000000001%, rgba(57, 207, 248, 0.53) 85.716%, rgba(57, 207, 248, 0.53) 100.002%), linear-gradient(135deg, rgb(246, 99, 200) 0%, rgb(246, 99, 200) 12.5%, rgb(223, 98, 196) 12.5%, rgb(223, 98, 196) 25%, rgb(199, 97, 192) 25%, rgb(199, 97, 192) 37.5%, rgb(176, 96, 188) 37.5%, rgb(176, 96, 188) 50%, rgb(152, 95, 184) 50%, rgb(152, 95, 184) 62.5%, rgb(129, 94, 180) 62.5%, rgb(129, 94, 180) 75%, rgb(105, 93, 176) 75%, rgb(105, 93, 176) 87.5%, rgb(82, 92, 172) 87.5%, rgb(82, 92, 172) 100%);
  color: var(--color-body);
}

/*LIST & LINKS */
a {
  text-decoration: none;
  color: #000000;
}
a:hover{
  text-decoration: underline;
  color: var(--color-accent);
}

.list {
  list-style: none;
}

/*NAVBAR */
header{
  background-color: var(--color-primary);
  border-bottom: 1 px solid var(--color-border);
  position: fixed; 
  top: 0;
  width: 100%;
}
.nav{
  display: flex;
  justify-content:space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 3px;
}
.nav a img{
  width: 55px;
  height: 55px;
  border-radius: 50%;
  border: 1px solid pink;
}
.nav a img:hover{
  border: 1px solid hotpink;
}
.nav__list{
  display: inline-flex;
  font-size: 16px;
}
.nav__list .nav__item{
  margin: 2rem;
}
.nav__item:hover{
  color: var(--color-accent);
  font-size: 18px;
}
/*MAIN CONTAINER*/
.main{
  margin-top: 3em;
}
.container {
  max-width: 1140px;
  margin: 0 auto; /* To center the content*/
}

/*HOME SECTION*/
svg text {
  stroke: var(--color-primary);
  font-size: 16rem;
  font-weight: 600;
  stroke-width: 2.7;
  animation: textAnimate 6s;
}

@keyframes textAnimate {
  0% {
    stroke-dasharray: 0 50%;
    stroke-dashoffset: 20%;
  }

  100% {
    stroke-dasharray: 50% 0;
    stroke-dashoffset: -20%;
  }
}


